.slideshow-container {
  position: relative;
  width: 100%;
  height: 490px;
  overflow: hidden;
}

.slideshow-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slideshow-slide.active {
  opacity: 1;
}

.slideshow-slide img {
  width: 50%;
  height: 490px;
  object-fit: cover;
}

.slideshow-data {
	width:50%;
	height: 490px;
  position: absolute;
  top: 1%;
  left: 50%;
  margin-top: auto;
  
  
  background-color: blanchedalmond;
  
  
  color: #333;
  text-align: center;
  font-size: 1.0rem;
  
 line-height: 1.8;
}

.slideshow-data h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.header{
	align-items: center;
}

  #container{
  
  background-image: url('images/background.png');
  
  background-size: cover;
  padding: 20px;
  
  }
  #submit-button {
    width: 200px; /* Adjust the width as per your preference */
    height: 50px; /* Adjust the height as per your preference */
    font-size: 16px; /* Adjust the font size as per your preference */
  }
  
  div {
    
    
    border: 1px solid #fbf3f3; /* Sets the border color and width */
    border-radius: 0px; /* Rounds the corners of the div */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3); /* Adds a drop shadow effect */
    color: #110e0e; /* Sets the text color */
    font-size: 16px; /* Sets the font size */
    padding: 2px; /* Adds some padding inside the div */
  }
  
  
  
  
  #image{
    background-image: url('images/bea.jpg');
  
  background-size: cover;
  padding: 20px;
  }
  
  
  
  
  
  /* Position the menu container at the top right corner */
  header {
  
    padding: 2px;
    text-align: right;
    font-size: 16px;
    color: rgb(12, 12, 12);
    
   
  }
  
  
  /* Style the menu links */
  .menu-link {
    padding: 15px;
    color: #101010;
    text-decoration: none;
  }
  
  /* Add spacing between menu links */
  .menu-link + .menu-link {
    margin-left: 0px;
  }
  
  /* Change the background color when hovering over a menu link */
  .menu-link:hover {
    background-color: #faf6f6;
  }
  div{
    margin-top:20px;
  }
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #241ab8;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;transition: background-color 0.3s ease;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  
  
  
  
      /* Set the font family for the entire page */
  body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* Style the h1 tag */
  h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #0d0d0c;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: cursive;
    font-style: italic;
  }
    /* Style the p tags */
    p {  
    font-size: 1.2em;
    line-height: 1.5;
    color: #090202;
    margin-bottom: 30px;
    }
    
  .logo img{
      max-height: 60px;
      margin: 0;
    margin-right: auto;
  }